<% if notice %>
<p id="notice"><%= notice %></p>
<%end %>
<h1>User Account</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <%if @adminloggedin%><td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td><%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if @adminloggedin%>
<%= link_to 'New User', new_user_path %>
<%end%>
<div class="col-xs-2">
<%= link_to 'See user account details', user_details_path, class: "btn btn-primary btn-lg", :style=>'color:#FFFFFF;' %>

</div>